.App {
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.unauthorised-wrapper{
  flex-grow: 1;
}
.welcome{
  margin-top: 30%;
}

.card-title{
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}
.figures{
  font-size: 44px;
  display: block;
}
.hint-text{
  display: block;
  font-size: smaller;  
}
.text-secondary{
  color:#da2c01;
}
.text-primary{
  color:#556cd6;
}